.landingPageContainer {
  box-sizing: border-box;
  width: 100%;
}

/* intro section style */
.section--1 {
  width: 100%;
  height: 450px;
  background-color: black;
  position: relative;
  background-image: url("../../assets/rootImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: change 15s infinite ease-in-out;
  z-index: 0;
}

.section--1 * {
  color: #fefefe;
  position: absolute;
  left: 1rem;
}

.section--1 h1 {
  top: 50%;
  transform: translateY(-50%);
  font-size: 38px;
}

.section--1 p {
  top: 60%;
  font-size: 14px;
  color: #c0c0c0;
  font-weight: bold;
}

.section--1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
  z-index: -2;
}

@keyframes change {
  0% {
    background-image: url("../../assets/rootImage.jpg");
  }

  20% {
    background-image: url("../../assets/generator.jpg");
  }

  40% {
    background-image: url("../../assets/sideView.png");
  }

  60% {
    background-image: url("../../assets/sideView.png");
  }

  80% {
    background-image: url("../../assets/rootImage.jpg");
  }

  100% {
    background-image: url("../../assets/rootImage.jpg");
  }
}

/* card section stylling */

.section--2 {
  padding: 3rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 2rem;
}

.section--2 img {
  width: 40px;
}

.section--3 {
  height: 350px;
  width: 100%;
  background-image: url("../../assets/egbin foundation.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 7rem;
}

.section--3 * {
  position: absolute;
  z-index: 1000;
  color: #fefefe;
  left: 2rem;
}

.section--3 h3 {
  top: 4rem;
  font-size: 28px;
}

.section--3 p {
  top: 7rem;
  font-size: 14px;
  width: 50%;
  line-height: 1.7;
}

.section--3 button {
  position: absolute;
  bottom: 4rem;
  background-color: transparent;
  border: solid 1px #c0c0c0;
  border-radius: 16px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.section--3 button:hover {
  background-color: var(--logoRed);
  color: #fefefe;
  border: none;
}

.section--3::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: linear-gradient(to right, #f12c26, #333333, #fefefe);
}

.footer {
  height: 200px;
  display: grid;
  place-content: center;
  color: #c0c0c0;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-media img {
  width: 15px;
  cursor: pointer;
}

/* 830px below */

@media (max-width: 830px) {
  .section--2 {
    padding: 2rem;
  }

  .section--3 {
    margin-top: 2rem;
  }
}

/* 694px */
